schema-definition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="nhits"/>
        <xs:element name="parameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="dataset"/>
              <xs:element type="xs:string" name="lang"/>
              <xs:element type="xs:short" name="rows"/>
              <xs:element type="xs:byte" name="start"/>
              <xs:element type="xs:string" name="format"/>
              <xs:element type="xs:string" name="timezone"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="records">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fields" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pointid">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="passingtimes">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="vehicle">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="destination" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="fr" use="optional"/>
                                        <xs:attribute type="xs:string" name="nl" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:dateTime" name="expectedArrivalTime"/>
                                <xs:element name="lineId">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="vehicle_number" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:dateTime" name="expectedArrivalTime"/>
                          <xs:element name="lineId">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="id"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="message">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="en" use="optional"/>
                                  <xs:attribute type="xs:string" name="fr" use="optional"/>
                                  <xs:attribute type="xs:string" name="nl" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="lineid">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>